<aside>
	<div id="container">
		<%= image_tag "user_idea.png", id: "imgSettings" %>
		<h4>
			Você tem a idéia que pode mudar a vida de muitas pessoas.
		</h4>
	</div>

	<div id="container2">
		<%= image_tag "many_users.png", id: "imgOpenSource"%>
		<h4 style="width: 75%;">
			Pessoas dispostas encontram e Avaliam sua idéia.
		</h4>
	</div>

	<div id="container3">
		<%= image_tag "collaborates.png", id: "imgSettings3" %>
		<h4 style="width: 75%;">
			Colaboradores te ajudam com sua idéia da maneira mais eficaz.
		</h4>
	</div>

	<div id="container4">
		<%= image_tag "medal.png", id: "imgOpenSource" %>
		<h4>
			Seu projeto é concluido com Sucesso!
		</h4>
		<h4>
			Tem um desenvolvimento melhor em um menor prazo de tempo.
		</h4>
	</div>

</aside>