<aside>
	<div id="container">
		<img src="/assets/user_idea.png" id="imgSettings">
		<h4>
			Você tem a idéia que pode mudar a vida de muitas pessoas.
		</h4>
		<img src="/assets/arrow.png" id="imgArrow">
	</div>

	<div id="container2">
		<img src="/assets/many_users.png" id="imgOpenSource">
		<h4>
			Pessoas dispostas encontram e Avaliam sua idéia.
		</h4>
		<img src="/assets/invert_arrow.png" id="imgArrow">
	</div>

	<div id="container">
		<img src="/assets/collaborates.png" id="imgSettings3">
		<h4>
			Colaboradores te ajudam com sua idéia da maneira mais eficaz.

		</h4>
		<img src="/assets/arrow.png" id="imgArrow3">
	</div>

	<div id="container4">
		<img src="/assets/medal.png" id="imgOpenSource">
		<h4>
			Seu projeto é concluido com Sucesso!
		</h4>
		<h4>
			Tem um desenvolvimento melhor em um curto prazo de tempo.
		</h4>
	</div>

</aside>