<link rel="stylesheet" type="text/css" href="../../stylesheets/index.css">

<div id="panel">
	<div id="textPanel">
		
		<h3>Sua Idéia vale ouro</h3>
		<p>
			Sua idéia no GI pode valer ouro, e ajudar a vida de muitas pessoas.
		</p>
	</div>
</div>