<div id="panel">
	<div id="lamp"></div>
	<div id="textPanel">
		<h3>Sua Idéia vale ouro</h3>
		<p>
			Sua idéia no GI pode valer ouro, e ajudar a vida de muitas pessoas.
		</p>
	</div>
</div>

<section>

	<div id="container">
		<h1>Para cada idéia, uma solução</h1>
		<img src="/assets/settings.jpg" id="imgSettings">
		<h4>
			O Mundo não evolui de idéias, mas de soluções.
		</h4>
		<h2>
			Sua Ideia recebe mais soluções com mais colaboradores,
			gerando um maior desenvolvimento.
		</h2>
	</div>

	<div id="container2">
		<h1>Uma socieadade Open-Source</h1>
		<img src="/assets/imgOpenSource.png" id="imgOpenSource">
		<h4>
			Para uma sociedade sem segredos.
		</h4>
		<h2>
			Compartilhar um projeto tem 100% mais chance de trazer
			um melhor desenvolvimento.
		</h2>
	</div>
</section>