<div id="panel" style="text-align: center;">
	<h3 style="color: white; position: relative; font-size: 400%;">Sua Idéia vale ouro</h3>
	<div id="textPanel">
		<p>
			Aqui, sua idéia é o maior tesouro, e pode ajudar a vida de muitas pessoas.
		</p>
	</div>
	<div id="banner_index"></div>

	<%= image_tag "windows_page.png" %>
	
</div>

<section>

	<div id="container">
		<h1>Para cada idéia, uma solução</h1>
		<%= image_tag "settings.jpg", id: "imgSettings" %>
		<h4>
			O Mundo não evolui de idéias, mas de soluções.
		</h4>
		<h2>
			Sua Ideia recebe mais soluções com mais colaboradores,
			gerando um maior desenvolvimento.
		</h2>
	</div>

	<div id="container2">
		<h1>Uma socieadade Open-Source</h1>
		<%= image_tag "imgOpenSource.png", id: "imgOpenSource" %>
		<h4>
			Para uma sociedade sem segredos.
		</h4>
		<h2>
			Compartilhar um projeto tem 100% mais chance de trazer
			um melhor desenvolvimento.
		</h2>
	</div>
</section>