<div id="panel">
	<div id="textPanel">
		<div id="lamp"></div>
		<h3>Sua Idéia vale ouro</h3>
		<p>
			Sua idéia no GI pode valer ouro, e ajudar a vida de muitas pessoas.
		</p>
	</div>
</div>